###################################################
#
#   The buildtools repository is at:
#   https://github.com/foo123/Beeld
#
###################################################

plugins =[{}]
    # include 'minify' plugin from plugins folder
    "minify" = "!plg:minify"
@

tasks =[{}]
    
    build =[{}]
    
        src =[]
            ./src/areaselect.js
        @

        minify ={}
            
            uglifyjs =[]
                -m -c
            @
        @

        out = ./build/areaselect.min.js
    @

@